html,
body {
    color: rgb(158, 1, 1);
    margin: 0;
    font: 400 15px/1.8 "lato", sans-serif;
}

.parallax {
    background-image: url(info.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-device-width:1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.img1,
.img2,
.img3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url(info1.jpg);
    min-height: 800px;
}

.border {
    color: black;
    background-position: fixed;
    background-color: skyblue;
    border: black;
    border-radius: 600px;
    min-width: 40px;
}

.next {
    background-color: darkcyan;
    height: 300px;
    font-size: 40px;
    color: #fff;
    border: black solid;
    border-radius: 30px;
}

.img2 {
    background-image: url(info2.jpg);
    min-height: 800px;
}

.border1 {
    background-color: rgb(2, 49, 41);
    min-height: 300px;
    color: #fff;
    border: mediumaquamarine solid;
    font-size: medium;
    border-radius: 90px;
    text-align: center;
    font-size: 50px;
}

.img {
    background-image: url(info3.jpg);
    min-height: 900px;
}

.border2 {
    font-size: 40px;
    text-align: center;
    border: ivory solid;
    color: #fff;
    border-radius: 30px;
    background-color: black;
}

#up {
    background-color: mediumslateblue;
    color: black;
    font-size: 40px;
    border: teal solid;
}

h3 {
    text-align: center;
    border: black solid;
    border-radius: 30px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}